.child {
  width: 300px;
  height: 300px;
  border-radius: 8px;

  padding: 16px;

  background-color: #f9f7e8;
  color: #cec8e4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
